.footer {
  background-color: #111;
  color: #ccc;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.9rem;
  user-select: none;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

footer a {
  color: #646cff;
  text-decoration: none;
  margin: 0 0.5rem;
}
footer a:hover {
  text-decoration: underline;
}
